* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ANIMATIONS */
@keyframes card {
    0% {
        top: 50vh;
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        top: 80vh;
    }
}

@keyframes background {
    0% {
        
    }
    50% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px)
    }
}

/* CONTENT CATEGORIES AND DIVS */
body {
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    /* border: 1px solid red; */
    width: 50%;
    height: 100vh;
    padding: 25px;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
    text-align: center;
    /* background-image: url("/personal-website/public/images/john-pic.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

aside::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/personal-website/public/images/john-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    /* border: 1px solid green; */
    width: 50%;
    height: 100vh;
    padding: 25px;
    position: relative;
}

/* HEADERS */
h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h1::before {
    content: "< "
}

h1::after {
    content: " />";
}

h2 {
    font-size: 2rem;
    line-height: 3em;
}

h3 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #555;
    line-height: 2em;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #555;
    line-height: 1.75em;
}

i {
    font-size: 2rem;
    letter-spacing: 5px;
}

a:link {
    color: #555;
}

a:visited {
    color: #555;
}

a:hover {
    color: steelblue;
}

/* CLASS STYLING */
.flex-container {
    display: flex;
}

.aside-contents {
    /* border: solid 1px purple; */
    width: 51vw;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    animation: card 4s ease-in-out;
    white-space: nowrap;
}

.section-contents {
    /* border: solid 1px purple; */
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons {
    padding-top: 20px;
}

.background-blur {
    width: 100%;
    height: 100%;
    animation: background 4s;
}

/* TABLET SCREEN STYLING */
@media only screen and (max-width: 1200px) {
    aside {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
    }

    aside::before {
        transform: translate(0, -25%);
    }

    section {
        width: 100%;
        height: 50vh;
    }

    .flex-container {
        display: inline-block;
    }

    .aside-contents {
        /* border: solid 1px purple; */
        width: 100vw;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0, 234%);
        background-color: rgba(0, 0, 0, .25);
        animation: unset;
    }
    
    .section-contents {
        /* border: solid 1px purple; */
        width: auto;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0, 0);
    }
}

/* MOBILE STYLING */
@media only screen and (max-width: 600px) {
    aside {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40vh;
    }

    section {
        width: 100%;
        height: 50vh;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .flex-container {
        display: inline-block;
    }

    p {
        font-size: 0.85rem;
    }

    .aside-contents {
        /* border: solid 1px purple; */
        padding-top: 0 !important; /* find where the padding-top is coming from elsewhere */
        width: auto;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0, 260%);
        padding-top: 50%;
        animation: card 4s;
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    .section-contents {
        /* border: solid 1px purple; */
        margin-top: 50px;
        width: auto;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0, 0);
    }
}